
.background-colors{
   background: #54B2D8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,#AED6F1  ,#5EBCC8); /*Safari 5.1-6*/
 background: -o-linear-gradient(right,#AED6F1  ,#5EBCC8); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,#AED6F1  ,#5EBCC8); /*Fx 3.6-15*/
  background: linear-gradient(to right, #AED6F1  , #5EBCC8); /*Standard*/

  

}

#btn-next5-days{
    margin-top: 20px;
    margin-bottom: 20px;
}

.padd-top-10px{
    padding-top: 10px;
}

.margin-bottom-10px{
    margin-bottom: 10px;
}
.padd-top-40px{
    padding-top: 40px;
}

.padd-left-0px{
    padding-left: 0px;
}
.common-div-margin{
    margin-left: 100px; 
    margin-right: 100px; 
    margin-top: 20px;
}

#map{
    width: 100%; 
    height: 400px;
    margin-top: 20px;
    border: 3px solid #ccc;
}

#day1{
    padding-top: 30px;
    height: 300px; 
    margin: 10px; 
    background-color: #EF8C9E;
}

#day2{
    padding-top: 30px;
    height: 300px; 
    margin: 10px; 
    background-color: #C390D4;
}

#day3{
     padding-top: 30px;
     height: 300px; 
     margin: 10px; 
     background-color: #92D57B;
}

#day4{
    padding-top: 30px;
    height: 300px; 
    margin: 10px; 
    background-color: #D4A190;
}

#day5{
    padding-top: 30px;
    height: 300px; 
    margin: 10px; 
    background-color: #D4B890;
}

#day6{
    padding-top: 30px;
    height: 300px; 
    margin: 10px; 
    background-color: #D4B890;
}

#day7{
    padding-top: 30px;
    height: 300px; 
    margin: 10px; 
    background-color: #D4A190;
}

#day8{
    padding-top: 30px;
    height: 300px; 
    margin: 10px; 
    background-color: #C390D4;
}

#day9{
    padding-top: 30px;
    height: 300px; 
    margin: 10px; 
    background-color: #EF8C9E;
}

#day10{
    padding-top: 30px;
    height: 300px; 
    margin: 10px; 
    background-color: #92D57B;
}